{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-any": 0,
    "no-extra-semi": "off",
    "@typescript-eslint/no-extra-semi": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}
